.big_container{
    background-image: url(../../imgs/bg.png); 
    font-family: "Abel";
  }
.main_container{
    display: flex;
    font-family: 'Abel';
    justify-content: center;
    flex-direction: column;
    margin: 3rem 4rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    
    
}
.logo img {

    width: 4rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    
}

.logo h1{
    font-family: 'Amatic SC';
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
    color: #1162AD;
    font-size: 20px;
    margin-bottom: 3rem;
}

.logo h2{
    color: #1162AD;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 2rem;
}

.cartao_container{
    margin-bottom: 4rem;
    background-color: #1162AD;
    border-radius: 25px;
    padding: 1rem;
}

.cartao_container img{
    width: 150px;  
    margin-left: 2rem;
    margin-bottom: 1rem;
  
}

.card_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   

}

.icone{
    transition: all .4s;
}

.card_links a{
    color: #FFE071;
}



h3{
    text-align: center;
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 3px;
}






.footer{
    background-color: #1162AD;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

#img_footer{
    width: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer p{
    color: #FFFFFF;
    font-family: "Abel";
    font-size: 10px;
    padding-bottom: 0.5rem;
}

.footer a{
    color: #FFE071;
}

@media  screen and (min-width: 768px){

    .container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 6rem;
    }

    
.icone:hover{
    transform: scale(1.1);
}



    
    



}