.big_container{
    background-image: url(../../imgs/bg.png);
    font-family: 'Abel';
}

.cad_container{
      
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 2rem ;
        border-radius: 25px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1.5rem;
        
        
    }
    .logo img {
    
        width: 8rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5rem;
        
    }
    
    .logo h1{
        font-family: 'Amatic SC';
        font-weight: bolder;
        letter-spacing: 5px;
        text-align: center;
        color: #1162AD;
        font-size: 25px;
    }
    .logo h2{
        margin-top: 1rem;
     
        letter-spacing: 5px;
        text-align: center;
        color: #1162AD;
        font-size: 50px;

    }

    .logo h3{
        font-size: 25px;
        color: #000;
    }
    
    .form_cad {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
    }
    
    .form_cad input{
        width: 70%;
        padding: 1rem;
        margin-bottom: 1rem;
        font: inherit;
        border-radius: 50px;
        border: solid 0.5px #1162AD;
        background-color: #FFFFFF;   
        text-align: center;
    
    }
    
    .botao{
        margin-top: 1rem;
        padding: 0.8rem 0;
        background-color: #FFE071;
        border: none;
        border-radius: 25px;
        width: 50%;
        color: #1162AD;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        cursor: pointer;
        
        
    }

    .voltar{
        color: #1162AD;
        font-size: 50px;
        margin-top: 0.8rem;
        transition: all .4s;
    }
    
    @media  screen and (min-width: 768px) {
  
       
    
        
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            
        }
        .logo img {
        
            width:8rem;
            display: flex;
            margin-top: 2rem;
            flex-direction: column;
            
        }
        
        .logo h1{
            font-family: 'Amatic SC';
            font-weight: bolder;
            letter-spacing: 5px;
            text-align: center;
            color: #1162AD;
            font-size: 25px;      
            margin-bottom: 1rem;
        }

        .logo h2{
            margin-top: 1rem;
            margin-bottom: 1rem;
            letter-spacing: 5px;
            text-align: center;
            color: #1162AD;
            font-size: 50px;
        }

      


        
        .form_cad {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0.5rem;
            margin-bottom: 1rem;
        
        }
        
        .form_cad input{
            width: 25%;
            padding: 1rem;
            margin-bottom: 1rem;
            font: inherit;
            border-radius: 50px;
            border: solid 0.5px #1162AD;
            background-color: #FFFFFF;   
            color: #1162AD;
            text-align: center;
        }

       
        .botao{
            padding: 0.8rem 0;
            margin-top: 1rem;
            background-color: #FFE071;
            border: none;
            border-radius: 25px;
            width: 15%;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 5px;
            cursor: pointer;
            transition: all .5s
            
        }
    
        .botao:hover{
            transform: scale(1.1);
            color: #FFE071;
            background-color: #1162AD;
        }

        .voltar:hover{
            transform: scale(1.1);
        }
        

    
    }
        