.cad_inst_container{
    background-image: url(../../imgs/bg.png);
}
    
    .container{
        display: flex;
        font-family: 'Abel';
        justify-content: center;
        flex-direction: column;
        padding-top: 3rem ;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1.5rem;
        
        
    }
    .logo img {
    
        width: 8rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5rem;
        
    }
    
    .logo h1{
        font-family: 'Amatic SC';
        font-weight: bolder;
        letter-spacing: 5px;
        text-align: center;
        color: #1162AD;
        font-size: 25px;
    }

    .logo h2{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        letter-spacing: 5px;
        text-align: center;
        color: #1162AD;
        font-size: 50px;

    }

    .logo h3{
        font-size: 25px;
        color: #000;
    }
    
    .form_cad_inst {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    
    }
    
    .form_cad_inst input{
        width:70%;
        padding: 1rem;
        margin-bottom: 1rem;
        font: inherit;
        border-radius: 50px;
        border: solid 0.5px #1162AD;
        background-color: #FFFFFF;   
        text-align: center;
    
    }
    
    
    button{
        margin-top: 1rem;
        padding: 0.8rem 0;
        background-color: #FFE071;
        border: none;
        border-radius: 25px;
        width: 50%;
        color: #1162AD;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        cursor: pointer;
        
        
    }

    .voltar{
        color: #1162AD;
        font-size: 50px;
        transition: all .5s;
    }

    
    @media  screen and (min-width: 768px) {
  
     
    
        .container{
            display: flex;
            font-family: 'Abel';
            justify-content: center;
            flex-direction: column;
            background-image: url(../../imgs/bg.png);
            border-radius: 15px;
            padding-top:2rem;
            padding-bottom: 2rem;
            margin-left: 10rem;
            margin-right: 10rem;
            margin:0;
            
        }
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 0rem;
            
        }
        .logo img {
        
            width: 8rem;
            display: flex;
            flex-direction: column;
            
        }
        
        .logo h1{
            font-family: 'Amatic SC';
            font-weight: bolder;
            letter-spacing: 5px;
            text-align: center;
            color: #1162AD;
            font-size: 25px;      
            margin-bottom: 1rem;
        }

        .logo h2{
            margin-top: 1rem;
            margin-bottom: 1rem;
            letter-spacing: 5px;
            text-align: center;
            color: #1162AD;
            font-size: 50px;
        }
        
        .form_cad_inst {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0.5rem;
            margin-bottom: 1rem;
        
        }
        
        .form_cad_inst input{
            width: 25%;
            padding: 1rem;
            margin-bottom: 1rem;
            font: inherit;
            border-radius: 50px;
            border: solid 0.5px #1162AD;
            background-color: #FFFFFF;   
            color: #1162AD;
            text-align: center;
        }

        
        .voltar:hover{
            transform: scale(1.1);
        }
    
        button{
        
            width: 15%;
     
            transition: all .5s
        }
    
        
        button:hover{
            background-color: #1162AD;
            color: #FFE071;
            transform: scale(1.1);
        }
    }
        