    .login_container{
        background-image: url(../../imgs/bg.png);
        display: flex;
        font-family: 'Abel';
        justify-content: center;
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 6rem;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;
        
        
    }
    .logo img {
    
        width: 8rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 0.8rem;
        
    }
    
    .logo h1{
        font-family: 'Amatic SC';
        font-weight: bolder;
        letter-spacing: 5px;
        text-align: center;
        color: #1162AD;
        font-size: 40px;
    }
    
    .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    
    }
    
    .formulario input{
        width: 70%;
        padding: 1rem;
        margin-bottom: 1rem;
        font-size: 20px;
        border-radius: 50px;
        border: solid 0.5px #1162AD;
        background-color: #FFFFFF;   
        text-align: center;
    
    }
    

    .checkbox{
        margin-bottom: 2rem;
    }

    .login nav{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .botao{
    width: 30%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #1162AD;
    letter-spacing: 3px;
    background-color: #FFE071;
    padding: 0.8rem  3rem;
    border-radius: 25px;
    transition: all  .5s;
    }
   
    


    label{
        margin-left: 10px;
    }
    
    .links{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        font-weight: bold;
    
    }
    

    #link{
        text-decoration: none;
        color: #1162AD;
        margin-bottom: 0.8rem;
       
        border-radius: 50px;
        transition: all .4s;
    }


   

    @media  screen and (min-width: 768px) {
      
  
        .login_container{
            background-color: #1162AD;
            background-image: none;
            display: flex;
            font-family: 'Abel';
            justify-content: center;
            flex-direction: column;
            background-image: url(../../imgs/bg.png);
            border-radius: 25px;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin: 0;
        }
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 2rem;
            
        }
        .logo img {
        
            width: 8rem;
            display: flex;
            flex-direction: column;
            
        }
        
        .logo h1{
            font-family: 'Amatic SC';
            font-weight: bolder;
            letter-spacing: 5px;
            text-align: center;
            color: #1162AD;
            font-size: 30px;
        }
        
        .formulario {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0.5rem;
        
        }
        
        .formulario input{
            width: 25%;
            padding: 1rem;
            margin-bottom: 1rem;
            font: inherit;
            border-radius: 50px;
            border: solid 0.5px #1162AD;
            background-color: #FFFFFF;   
            color: #1162AD;
            text-align: center;
        }

        

        .botao:hover{
            color: #FFE071;
            background-color: #1162AD;
            transform: scale(1.1);
         }
        
        
    
        .checkbox{
            margin: 1rem 26.7rem;
        }

        .botao{           
            width: 8%;
            margin: 1rem;
        }
        
        .links{
            display: flex;
            justify-content:center;
            align-items: center;
            flex-direction: column;
            margin-top: 0rem;
            font-weight: 100;
            
        
        }

        #link{
            padding: 0.2rem 0.5rem;
        }
        
       
    #link:hover{
        background-color: #1162AD;
        color: #FFE071;
       
    }

    
        
    
        
    
    }